::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
::-webkit-scrollbar-track:horizontal {
  border-radius: 10px;
  opacity: 0.24;
  background: #d8d8d866;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d8d8d8;
}
::-webkit-scrollbar-button {
  height: 0;
  background-color: #fff;
}
.main {
  display: none;
}
.main-swiper {
  position: relative;
  height: 425px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 0;
}
.main-swiper .swiper-content {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 2280px;
  overflow: hidden;
}
.main-swiper .swiper-content-phone {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 14.3rem;
  overflow: hidden;
}
.main-swiper .swiper-content-phone .slide-source {
  display: inline-block;
  float: left;
  margin-right: 0.2rem;
}
.main-swiper .slide-source {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.main-swiper .slide-source a {
  text-decoration: none;
}
.main-swiper .slide-source div {
  opacity: 0.8;
  font-family: Verdana;
  font-size: 12px;
  color: #38393c;
  font-weight: 400;
  text-align: justify;
  width: 439px;
  height: auto;
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin-top: 14px;
}
.main-swiper .slide-source:last-child {
  margin-right: 0;
}
.main-swiper .slide-source video {
  height: 243px;
  object-fit: cover;
  border-radius: 5px;
  background: #d8d8d8;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #f7f7f7;
}
a {
  font-family: Verdana;
  font-size: 13px;
  color: #2967ac;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
i {
  font-family: Verdana-Bold;
  font-size: 13px;
  color: #38393c;
  line-height: 24px;
  font-weight: 700;
}
pre {
  display: flex;
}
.disable {
  color: #878787 !important;
  border: 0.5px solid rgba(135, 135, 135, 1) !important;
}
.title {
  font-family: Helvetica-Bold;
  font-size: 38px;
  color: #000;
  font-weight: 700;
}
.subtitle {
  font-family: Helvetica-Bold;
  font-size: 28px;
  color: #000;
  font-weight: 700;
  padding: 30px 0;
}
.subtitle-child {
  opacity: 0.6;
  font-family: Helvetica-Bold;
  font-size: 26px;
  color: #000;
  font-weight: 700;
  margin-bottom: 37px;
  margin-top: 30px;
}
.main {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.main:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 61px;
  left: 0;
  background: linear-gradient(
    to right,
    transparent,
    #d8d8d8,
    #d8d8d8,
    #d8d8d8,
    #d8d8d8,
    #d8d8d8,
    transparent
  );
  z-index: 0;
}
.main-head {
  max-width: 940px;
  height: 60px;
  margin: 0 auto;
}
.main-head .head-pc {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.main-head .head-phone {
  padding: 0 0.22rem;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.phone-main-head {
  display: none;
}
.main-head .name {
  height: 59px;
  line-height: 59px;
  float: left;
  opacity: 1;
  font-family: Verdana-Bold;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  margin-right: 34px;
}
.main-head .list {
  display: flex;
  float: left;
}
.main-head .list .list-item {
  position: relative;
  margin-right: 32px;
  height: 59px;
  z-index: 1;
}
.main-head .list .list-item:last-child {
  margin-right: 0;
}
.main-head .list .list-item a {
  opacity: 0.58;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}
.main-head .list .list-item a:hover {
  opacity: 0.75;
  border-bottom: 2px solid #3e3e3e;
}
.main-head .menu {
  display: flex;
  float: right;
  height: 59px;
  line-height: 59px;
}
.main-head .menu span {
  opacity: 0.8;
  font-family: Verdana;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin: 0 10px;
}
.main-head .menu .menu-item {
  font-size: 15px;
  cursor: pointer;
}
.main-head .menu .menu-item a {
  font-size: 15px;
  color: #000c;
  font-family: Verdana;
  text-decoration: none;
}
.main-head .menu .active a {
  font-family: Verdana-Bold;
  font-weight: 700;
}
.main-content {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.main-head .head-phone .name {
  height: auto;
  color: #000;
  font-family: Verdana;
  font-size: 0.22rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-head .head-phone .menu-phone {
  -webkit-tap-highlight-color: transparent !important;
  tap-highlight-color: transparent !important;
  outline: none;
}
.main-head .head-phone .menu-phone:focus {
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}
.main-head .head-phone .menu-phone:active {
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.main-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    transparent,
    #d8d8d8,
    #d8d8d8,
    #d8d8d8,
    #d8d8d8,
    #d8d8d8,
    transparent
  );
}
.border-none {
  padding-bottom: 200px;
}
.border-none ul {
  padding-bottom: 0 !important;
}
.border-none:after {
  height: 0px;
}
.main-epic {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin: 85px auto 0;
}
.main-epic img {
  width: 162px;
  height: 162px;
}
.main-epic > div {
  width: 705px;
}
.main-epic p,
.p {
  font-family: Verdana;
  font-size: 13px;
  color: #38393c;
  line-height: 24px;
  font-weight: 400;
  padding-top: 20px;
  box-sizing: border-box;
}
.pc-p,
.p,
.phone-p {
  display: none;
  text-align: justify;
}
.main-img {
  width: 940px;
  height: 628px;
  margin: 32px auto 0;
  padding-bottom: 54px;
}
.main-img img {
  width: 100%;
  height: 100%;
}
.main-people {
  max-width: 940px;
  margin: 70px auto 0;
}
.main-people .people-list {
  position: relative;
  left: -11px;
  display: flex;
  flex-wrap: wrap;
}
.main-people .people-list > a {
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 27px;
  margin-bottom: 32px;
}
.main-people .people-list > div {
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 27px;
  margin-bottom: 32px;
  text-decoration: none;
}
.main-people .people-list a:nth-child(5n + 5) {
  margin-right: 0;
}
.main-people .people-list > a:last-child {
  margin-right: 0;
}
.main-people .people-list a img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}
.main-people .people-list a .list-title {
  font-family: Helvetica-Bold;
  font-size: 15px;
  color: #38393c;
  font-weight: 700;
  padding: 17px 0;
}
.main-people .people-list a .list-decs {
  font-family: Helvetica;
  font-size: 12px;
  color: #38393c;
  font-weight: 400;
  padding-bottom: 7px;
  text-align: center;
}
.main-people .people-list div:nth-child(5n + 5) {
  margin-right: 0;
}
.main-people .people-list div:last-child {
  margin-right: 0;
}
.main-people .people-list div img {
  width: 140px;
  height: 140px;
  border-radius: 5px;
}
.main-people .people-list div .list-title {
  font-family: Helvetica-Bold;
  font-size: 15px;
  color: #38393c;
  font-weight: 700;
  padding: 17px 0;
}
.main-people .people-list div .list-decs {
  font-family: Helvetica;
  font-size: 12px;
  color: #38393c;
  font-weight: 400;
  padding-bottom: 7px;
}
.main-people .people-list a span,
.main-people .people-list div span {
  opacity: 0.6;
  font-family: Helvetica;
  font-size: 12px;
  color: #38393c;
  text-align: center;
  font-weight: 400;
}
.main-people .people-list div a:hover {
  opacity: 1;
  color: #2967ac;
}
.main-people .alumni {
  padding-left: 15px;
  width: 980px;
}
.main-people .alumni a .list-title,
.main-people .alumni div .list-title {
  opacity: 0.85;
  font-family: Helvetica;
  font-size: 20px;
  color: #38393c;
  font-weight: 400;
  text-align: left;
}
.main-people .alumni a,
.main-people .alumni div {
  align-items: flex-start;
}
.main-people .alumni a .list-decs {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 12px;
  color: #38393c;
  font-weight: 400;
  text-align: left;
}
.main-swiper {
  max-width: 940px;
  margin: 0 auto;
  padding: 42px 0;
  box-sizing: border-box;
}
.main-news {
  max-width: 940px;
  margin: 49px auto 0;
}
.main-news ul {
  padding-left: 35px;
  margin-top: 18px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.main-news ul li {
  position: relative;
  font-family: Verdana;
  list-style-type: none;
  font-size: 13px;
  color: #38393c;
  line-height: 25px;
  font-weight: 400;
}
.main-news p {
  font-family: Verdana;
  font-size: 13px;
  color: #38393c;
  line-height: 23px;
  font-weight: 400;
  margin-top: 18px;
}
.main-news ul li:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 10px;
  width: 5px;
  height: 5px;
  background-color: #38393c;
  border-radius: 40px;
}
.main-news ul li:last-child:before {
  width: 0;
}
.main-news ul li span {
  font-family: Verdana-Bold;
  font-size: 13px;
  color: #38393c;
  line-height: 25px;
  font-weight: 700;
}
.main-selected {
  max-width: 940px;
  margin: 50px auto 0;
  padding-bottom: 50px;
}
.main-selected .selected-item {
  display: flex;
  margin-top: 40px;
}
.main-selected .selected-item a {
  position: relative;
}

.main-selected .selected-item .play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 122;
  width: 44px;
  height: 44px;
}
.main-selected .selected-item img {
  width: 216px;
  height: 145px;
  margin-right: 24px;
}
.main-selected .selected-item .item-right {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 145px;
}
.main-selected .selected-item .item-title {
  font-family: Helvetica-Bold;
  font-size: 16px;
  color: #171718;
  line-height: 20px;
  font-weight: 700;
}
.main-selected .selected-item .decs {
  font-family: Verdana;
  font-size: 11px;
  color: #38393c;
  font-weight: 400;
  margin-bottom: 14px;
}
.main-selected .selected-item p {
  opacity: 0.8;
  font-family: Verdana;
  font-size: 11px;
  color: #38393c;
  font-weight: 400;
  margin-top: 8px;
}
.main-selected .selected-item p b {
  font-family: Verdana-Bold;
  font-weight: 700;
}
.main-selected .selected-item p i {
  opacity: 0.8;
  font-family: Verdana;
  font-size: 11px;
  color: #38393c;
  line-height: 13px;
  font-weight: 400;
}
.main-selected .selected-item .bold {
  opacity: 1;
  font-family: Verdana-Bold;
  font-size: 11px;
  color: #38393c;
  line-height: 13px;
  font-weight: 700;
}
.main-selected .selected-item .button {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-selected .selected-item .button a {
  display: inline-block;
  padding: 0 9px;
  height: 26px;
  line-height: 26px;
  font-family: Verdana;
  font-size: 11px;
  color: #2967ac;
  font-weight: 400;
  background: #ffffffb3;
  border: 0.5px solid rgba(41, 103, 172, 1);
  border-radius: 2px;
  margin-right: 8px;
  box-sizing: border-box;
}
.main-selected .selected-item .button a:hover {
  background: #bddcff4d;
  text-decoration: none;
}
.modal {
  display: none;
}
pre p {
  font-size: 12px;
}
.main-people .is-hidden .up {
  width: 100% !important;
  justify-content: flex-end !important;
  flex-direction: row !important;
  display: flex;
  margin-bottom: 0rem !important;
  padding-right: 0.22rem;
}
.border0:after {
  height: 0px;
}

@media (max-width: 769px) {
  a {
    font-size: 0.13rem;
    -webkit-tap-highlight-color: transparent !important;
    tap-highlight-color: transparent !important;
    outline: none;
  }
  a:focus {
    outline: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  a:active {
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .title {
    font-size: 0.33rem;
  }
  .subtitle {
    padding: 0.2rem 0;
    font-size: 0.24rem;
  }
  .subtitle-child {
    font-size: 0.2rem;
    margin-bottom: 0.183rem;
    margin-top: 0.14rem;
  }
  .main:after {
    height: 0;
  }
  .main-people .people-list .is-hidden,
  .main-people .is-hidden {
    display: none;
  }
  .up svg {
    transform: rotate(-90deg);
  }
  .main-head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.7rem;
    flex-shrink: 0;
    background: #f7f7f7;
    box-shadow: 0 -1px #dadada inset;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    z-index: 10;
  }
  .main-content {
    width: 100%;
    padding: 0 0.22rem 0.3rem;
    box-sizing: border-box;
  }
  .main-head .head-phone .name {
    height: auto;
    color: #000;
    font-family: Verdana;
    font-size: 0.22rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main-head .head-phone .menu-phone {
    -webkit-tap-highlight-color: transparent !important;
    tap-highlight-color: transparent !important;
    outline: none;
  }
  .main-head .head-phone .menu-phone:focus {
    outline: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  .main-head .head-phone .menu-phone:active {
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .main-epic {
    display: flex;
    margin-top: 1.05rem;
  }
  .main-epic p {
    color: #000;
    font-size: 0.12rem;
    line-height: 0.23rem;
    padding-top: 0.16rem;
  }
  .p {
    color: #000;
    font-family: Verdana;
    width: 100%;
    font-size: 0.12rem;
    line-height: 0.23rem;
    font-weight: 400;
    padding-top: 0;
  }
  .main-epic > div {
    flex: 1;
  }
  .main-epic img {
    width: 1.1rem;
    height: 1.1rem;
    float: right;
    margin-left: 0.04rem;
    margin-bottom: 0.02rem;
  }
  .main-img {
    width: 100%;
    height: auto;
    margin-top: 0.16rem;
    padding-bottom: 0.03rem;
  }
  .main-img img {
    width: 3.86rem;
    height: 2.56rem;
    border-radius: 0.08rem;
  }
  .main-people {
    width: 100%;
    margin-top: 0.35rem;
  }
  .main-people .people-list {
    width: 100%;
    left: 0rem;
  }
  .main-people .people-list > div {
    width: 1.15rem;
    margin-right: 0.205rem;
    margin-bottom: 0.34rem;
  }
  .main-people .people-list > a {
    width: 1.15rem;
    margin-right: 0.205rem;
    margin-bottom: 0.34rem;
  }
  .main-people .people-list a .liujiahang {
    width: 0.8rem !important
  }
  .main-people .people-list div img,
  .main-people .people-list a img {
    width: 1.15rem;
    height: 1.15rem;
  }
  .main-people .people-list div:nth-child(3n + 3) {
    margin-right: 0;
  }
  .main-people .people-list a:nth-child(3n + 3) {
    margin-right: 0;
  }
  .main-people .people-list a:nth-child(5n + 5) {
    margin-right: 0.205rem;
  }
  .main-people .people-list div:nth-child(5n + 5) {
    margin-right: 0.205rem;
  }
  .main-people .people-list div .list-title {
    font-size: 0.11rem;
    padding: 0.07rem 0;
  }
  .main-people .people-list a span,
  .main-people .people-list div span {
    font-size: 0.1rem;
  }
  .main-people .people-list div .list-decs {
    font-size: 0.1rem;
    text-align: center;
    color: #38393c;
    word-break: break-all;
  }
  .main-people .PhD div .list-decs,
  .main-people .PhD a .list-decs {
    /* max-width: 0.63rem; */
  }
  .main-people .zhizheng,
  .main-people .PhD div .Wenbo,
  .main-people .PhD a .Wenbo {
    /* max-width: 0.96rem !important; */
  }
  .main-people .PhD .Weiheng {
    max-width: 0.86rem !important;
  }
  .main-people .PhD a .list-decs {
    /* max-width: 0.63rem; */
  }
  .main-people .PhD a:nth-child(2) .list-decs{
    max-width: 0.7rem;
  }
  .main-people .PhD a:nth-child(5) .list-decs{
    max-width: 0.7rem;
  }
  .main-people .PhD a:nth-child(6) .list-decs{
    max-width: 0.7rem;
  }
  /* .main-people .PhD a:nth-child(7) .list-decs{
    max-width: 0.7rem;
  }
  .main-people .PhD a:nth-child(8) .list-decs{
    max-width: 0.7rem;
  } */
  .main-people .Masters a .list-decs,
  .main-people .Masters div .list-decs {
    max-width: 0.8rem;
  }
  .main-people .Masters a .list-decs,
  .main-people .Masters div .list-decs {
    max-width: 0.8rem;
  }
  .main-people .people-list a .list-title {
    font-size: 0.11rem;
    padding: 0.07rem 0;
  }
  .main-people .people-list a .list-decs {
    width: 100%;
    font-size: 0.1rem;
    color: #38393c;
    text-align: center;
    word-break: break-all;
  }
  .main-people .alumni a {
    margin-bottom: 0.17rem;
  }
  .main-people .alumni div:last-child {
    margin-bottom: 0;
  }
  .main-people .alumni a .list-decs {
    text-align: left !important;
    max-width: 0.8rem;
  }
  .main-news ul li span {
    font-size: 0.13rem;
    line-height: 0.23rem;
  }
  .main-news {
    margin-top: 0.35rem;
  }
  .main-news ul {
    padding-left: 0.2rem;
    margin-top: 0.16rem;
    padding-bottom: 0.35rem;
  }
  .main-news ul li {
    font-size: 0.13rem;
    line-height: 0.22rem;
  }
  .main-news ul li:before {
    left: -0.12rem;
    top: 0.085rem;
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.5rem;
  }
  .main-selected {
    margin-top: 0.35rem;
    padding-bottom: 0.35rem;
  }
  .main-selected .selected-item img {
    width: 1.23rem;
    height: 0.75rem;
    margin-right: 0.14rem;
  }
  .main-selected .selected-item .item-title {
    color: #171718;
    font-family: Helvetica;
    font-size: 0.12rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.18rem;
  }
  .main-selected .selected-item .item-right {
    height: auto;
  }
  .main-selected .selected-item p {
    font-size: 0.09rem;
    line-height: normal;
  }
  .main-selected .selected-item .decs {
    font-size: 0.1rem;
    margin-bottom: 0.1rem;
    margin-top: 0.07rem;
  }
  .main-selected .selected-item .decs a {
    font-size: 0.1rem;
  }
  .main-selected .selected-item .button {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .main-selected .selected-item {
    margin-top: 0.22rem;
  }
  .main-selected .selected-item:last-child {
    border: none;
  }
  .main-selected .selected-item .button a {
    margin-bottom: 0.07rem;
    padding: 0 0.09rem;
    height: 0.25rem;
    line-height: 0.25rem;
    font-size: 0.11rem;
    border: 0.5px solid rgba(41, 103, 172, 1);
    border-radius: 0.02rem;
    margin-right: 0.08rem;
  }
  #opportunities {
    padding-bottom: 0.6rem;
  }
  .modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f7f7f7;
    z-index: 9999;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .modal-active {
    transform: translateY(0);
  }
  .modal-close {
    display: flex;
    position: absolute;
    padding: 0.1rem;
    top: 0.15rem;
    right: 0.2rem;
    background: #ffffff1a;
    border-radius: 4px;
  }
  .modal-close img {
    width: 0.19rem;
    height: 0.19rem;
  }
  .modal-content {
    position: relative;
    top: -0.7rem;
    width: 100%;
    padding: 0 0.38rem;
    box-sizing: border-box;
  }
  .modal-content-item {
    text-align: center;
    padding: 0.23rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(217, 217, 217, 0.65);
  }
  .modal-content-item a {
    color: #000;
    opacity: 0.5;
    font-family: Helvetica;
    font-size: 0.22rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent !important;
    tap-highlight-color: transparent !important;
    outline: none;
  }
  .modal-content-item a:focus {
    outline: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  .modal-content-item a:active {
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .item-active a {
    opacity: 1;
  }
  .modal-footer {
    position: absolute;
    bottom: 0.4rem;
    font-family: Verdana;
    height: 0.22rem;
    align-items: center;
    color: #fff;
    line-height: 0.22rem;
    font-size: 0.28rem;
    font-weight: 400;
    display: flex;
  }
  .modal-footer span {
    opacity: 0.9;
    margin: 0 0.16rem;
    color: #000;
    font-family: Helvetica;
    font-size: 0.24rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .modal-footer-item a {
    margin: 0;
    opacity: 0.9;
    color: #000;
    font-family: Helvetica;
    font-size: 0.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    -webkit-tap-highlight-color: transparent !important;
    tap-highlight-color: transparent !important;
    outline: none;
    text-decoration: none;
  }
  .modal-footer-item a:focus {
    outline: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  .modal-footer-item a:active {
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .footer-item-active a {
    font-weight: 700;
    text-decoration: none;
  }
  .main-swiper {
    box-sizing: border-box;
    height: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.05rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .main-swiper .swiper-content-phone .slide-source {
    position: relative;
  }
  .main-swiper::-webkit-scrollbar {
    display: none;
  }
  .main-swiper .swiper-content-phone .slide-source a {
    text-decoration: none;
  }
  .main-swiper .swiper-content-phone .slide-source div {
    position: relative;
    opacity: 0.8;
    font-family: Verdana;
    font-size: 0.12rem;
    color: #38393c;
    font-weight: 400;
    text-align: justify;
    width: 2.62rem;
    height: auto;
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin-top: 0.14rem;
  }
  .main-swiper .swiper-content-phone .slide-source div span {
    color: #38393c;
    font-weight: 300;
  }
  .main-swiper .swiper-content-phone .slide-source div .project {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-weight: 400;
  }
  .main-swiper .swiper-content-phone .slide-source:last-child {
    margin-right: 0;
  }
  .main-swiper .swiper-content-phone .slide-source .play {
    position: absolute;
    left: 1.11rem;
    top: 0.7rem;
    width: 0.4rem;
    height: 0.4rem;
    opacity: 0.7;
  }
  .main-swiper .swiper-content-phone .slide-source video {
    width: 2.62rem;
    height: 1.8rem;
    border-radius: 0.05rem;
    background: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #fff;
  }
  ::-webkit-scrollbar-track:horizontal {
    border-radius: 0;
    opacity: 0.24;
    background: #d8d8d866;
  }
  pre {
    text-align: left;
    white-space: pre-wrap;
    word-break: break-all;
  }
  pre p {
    font-size: 0.12rem !important;
    text-align: left;
    width: 100%;
  }
  .main-people .people-list .more {
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
  }
  .main-people .people-list .more span {
    opacity: 1;
    color: #38393c;
    font-family: Helvetica;
    font-size: 0.14rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0.06rem;
  }
}
@media screen and (max-width: 768px) {
  #people .people-list .marginR {
    margin-right: 0px !important;
  }
  #people .people-list .margin {
    margin-right: 0px !important;
  }
  .main-people .people-list a:nth-child(3n + 3) {
    margin-right: 0 !important;
  }
  .main-content #people .people-list .phone-margin {
    margin-right: 0.205rem !important;
  }
  .main-selected .selected-item .play {
    top: 25%;
    width: 0.3rem !important;
    height: 0.3rem !important;
  }
}
#people .people-list .marginR {
  margin-right: 22px;
}
