[submodule "UniDexGrasp"]
	path = UniDexGrasp
	url = https://github.com/XYZ-99/UniDexGraspWebsite.git
[submodule "TaskDexGrasp"]
	path = TaskDexGrasp
	url = https://github.com/JYChen18/TaskDexGraspWeb.git
[submodule "MaskClustering"]
	path = MaskClustering
	url = git@github.com:MiYanDoris/MaskClustering.git
[submodule "ICV2024"]
	path = ICV2024
	url = git@github.com:MiYanDoris/ICV2024.git
[submodule "ASGrasp"]
	path = ASGrasp
	url = https://github.com/PKU-EPIC/ASGrasp_Webpage.git
[submodule "ScissorBot"]
	path = ScissorBot
	url = https://github.com/jiangranlv/ScissorBot_web.git
[submodel "D3RoMa"]
	path = D3RoMa
	url = https://github.com/PKU-EPIC/D3RoMa.git
